
<form  #f="ngForm">

<md-card class="example-card">
  <md-card-header>
    <md-card-title>
      <h5>Add User</h5>
    </md-card-title>

  </md-card-header>
  <md-card-content>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">

            <input id="icon_prefix" type="text" class="validate" ngModel name="FirstName" [(ngModel)]="enduser.FirstName" #FirstName="ngModel">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="icon_telephone" type="tel" class="validate" ngModel name="LastName" [(ngModel)]="enduser.LastName" #LastName="ngModel">
            <label for="icon_telephone">Last name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">

            <input id="icon_prefix" type="text" class="validate" ngModel name="EmailAddress" [(ngModel)]="enduser.EmailAddress" #EmailAddress="ngModel">
            <label for="icon_prefix">Email</label>
          </div>
        </div>
        <!--  Address - Endusre

        <div class="row">
          <div class="input-field col s6">
     
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Address Line 1</label>
          </div>
          <div class="input-field col s6">
    
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Address Line 2</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
     
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Street</label>
          </div>

          <div class="input-field col s5">
           
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Country</label>
          </div>
          <div class="input-field col s3">
         
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Postcode</label>
          </div>
        </div>
        -->
      </form>
    </div>
  </md-card-content>
  <md-card-actions class="right-align">
    <button md-raised-button [color]="primary" (click)="onEnduserClose()">Close</button>
    <button md-raised-button [color]="primary" (click)="onAddEndUser()">Save</button>
  </md-card-actions>
</md-card>


</form>
